body {
    background-image: linear-gradient(90deg, lavender, lavender, lavender, lavender, blueviolet);
    font-family: 'Alegreya SC';
    display: initial;
    text-align: center;
}

#title {
    position: relative;
    top: 0;
    margin: auto;
    width: max-content;
    display: flex;
    font-size: medium;
    text-align: center;
    transition: 0.2s;
    height: fit-content;
}

#title a {
    text-decoration: none;
    color: black;
}

nav {
    position: static;
    top: 0;
    width: max-content;
    margin: auto;
    float: none;
    text-align: left;
    font-size: large;
    height: 40px;
    display: flex;
    transition: 0.2s;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    text-decoration: underline;
    color: indigo;
}

nav ul {
    list-style: none;
    margin: auto;
    padding: 0px;
}

nav ul li {
    display: block;
    position: relative;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

nav li ul {
    display: none;
}

nav li:hover ul {
    display: block;
    position: absolute;
    z-index: 99999999;
    background-color: #bfbfd9;
}

#scrollNav {
    width: 100%;
    background-color: #c9c9e8;
    height: 40px;
    position: fixed;
    top: -80px;
    display: flex;
    transition: .3s;
    z-index: 9999999;
}

#scrollNav .name {
    font-size: xx-small;
    margin: 0;
    width: 50%;
    padding-left: 2em;
    text-align: left;
}

#scrollNav .name a {
    text-decoration: none;
    color: black;
}

#scrollNav .nav {
    margin: 0;
    float: right;
    width: 50%;
    min-width: max-content;
}

.nav a {
    text-decoration: none;
    color: black;
}

.nav a:hover {
    text-decoration: underline;
    color: indigo;
}

.nav ul {
    list-style: none;
    margin: auto;
    padding: 0px;
}

.nav ul li {
    display: block;
    position: relative;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav li ul {
    display: none;
}

.nav li:hover ul {
    display: block;
    position: absolute;
    z-index: 99999999;
    background-color: #bfbfd9;
}

.hamburger {
    visibility: hidden;
    width: 5%;
    height: 80px;
    padding-top: .5em;
    padding-right: .5em;
    padding-bottom: .5em;
    padding-left: 0;
    float: right;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 80px;
}

.dropbtn {
    color: lavender;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lavender;
    width: 350px;
    overflow: hidden;
    border: 1px solid #ddd;
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: black;
    font-size: 40px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {display: block;}

.filler {
    background-color: rgb(0, 0, 0, 0);
    height: 6em;
    width: 100%;
    float: right;
}

footer {
    background-image: linear-gradient(90deg, lavender, lavender, lavender, lavender, blueviolet);
    width: 100%;
    position: -webkit-sticky;
    float: left;
    bottom: 0;
    text-align: left;
    margin-top: .5em;
}

footer a {
    text-decoration: none;
}

footer img {
    height: 25px;
    padding-left: .5em;
}

.content {
    width: 100%;
    float: left;
    text-align: center;
}

.mission {
    width: fit-content;
    margin: auto;
    font-size: x-large;
    float: left;
}

.mainbio {
    width: 40%;
    float: left;
    margin-top: 4em;
    font-size: x-large;
    padding-left: 3em;
}

.biopic {
    width: 40%;
    float: right;
    margin-top: 2em;
    padding-right: 7em;
}

.biopic img {
    width: 65%;
    float: right;
}

.resume {
    width: 60%;
    float: left;
    text-align: center;
    overflow: visible;
    font-size: large;
}

.resume img {
    display: none;
    width: 70%;
    padding-left: 3em;
}

.resume iframe {
    width: 85%;
    height: 95%;
}

.experience {
    width: 38%;
    float: left;
    text-align: left;
    font-size: large;
}

.experience li {
    padding-bottom: 1em;
}

.references {
    width: 100%;
    float: left;
    font-size: large;
}

.references ul {
    text-align: left;
}

.devexhead {
    width: 100%;
    float: left;
    text-align: center;
}

.devex {
    width: 98%;
    float: left;
    text-align: left;
    margin-left: 1.5em;
}

.devex h3 {
    width: max-content;
    background-color: lavender;
}

.workimage {
    max-width: 50%;
    float: left;
}

.workimage img {
    max-width: 100%;
}

.workdescrip {
    width: 45%;
    float: left;
    margin-left: 2em;
    margin-top: 1em;
    font-size: large;
}

.workdescrip a {
    text-decoration: underline;
    color: black;
}

.contact {
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none
}

.contact a {
    text-decoration: none;
}

.contact .contactTable {
    font-size: x-large;
}

.contact .contactTable textarea {
    width: 20em;
    height: 10em;
    font-family: 'Alegreya SC';
    font-size: large;
}

.contact .contactTable input {
    font-family: 'Alegreya SC';
    font-size: large;
}

.sitdescrip {
    width: fit-content;
    margin-left: 5em;
    margin-right: 5em;
    font-size: large;
    float: left;
}

/*************************Start of screen resizing adjustment section*************************/

@media screen and (max-width: 935px) {
    .mainbio {
        font-size: medium;
    }
}

@media screen and (max-width: 855px) {
    body {
        background-color: lavender;
        background-image: none;
    }

    footer {
        background-color: lavender;
        background-image: none;
    }
}

@media screen and (max-width: 800px) {
    #nav {
        display: none;
        width: 0;
    }

    #title {
        margin: 0px;
        margin-left: 1em;
        margin-right: 0;
        width: auto;
        float: left;
    }

    #scrollNav {
        display: none;
    }

    #scrollNav .name {
        display: none;
    }

    #srollNav .nav {
        display: none;
    }

    .hamburger {
        visibility: visible;
    }

    .mainbio {
        font-size: x-large;
        width: 100%;
        margin: auto;
        padding: 0;
    }

    .biopic {
        width: 100%;
        margin: auto;
        float: left;
    }

    .biopic img {
        float: none;
        padding-bottom: 1em;
    }

    .resume iframe {
        display: none;
    }

    .resume img {
        display: block;
    }
}

@media screen and (max-width: 735px) {
    .workimage {
        max-width: 80%;
    }
}

@media screen and (max-width: 610px) {
    .resume img {
        width: 100%;
        float: left;
    }
    
    .experience {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    #title {
        width: min-content;
    }

    .hamburger {
        padding-top: 1.5em;
    }
}